extends ../../layouts/default.pug
include ../../mixins/progress-steps.pug
block main
  +progressbar(currentStep, 3)
  .container.my-5.text-center
    h2 Đăng ký thành công
    p Bệnh nhân: #{patient.fullName}
    p Dịch vụ: #{appointment.serviceName}
    p Phòng khám: #{appointment.clinicName}
    p Bác sĩ phụ trách: #{appointment.doctorName}
    h3 Số phiếu của bạn: #{appointment.queueNumber}

    img(src=`https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=${appointment.qrCode}`)

    // Nút in
    button(onclick="window.print()")
        i(class="fa-solid fa-print")
        | In phiếu

  script.
    // Auto quay về màn hình chính sau 2 phút
    setTimeout(() => {
      window.location.href = '/API/v1/kiosk';
    }, 120000);
